<div class="container card ">
    <h4>User Details</h4>
    <div class="row">
        <label class="fw-bold">Username:</label>
        <span>@Model.Username</span>
        <label class="fw-bold">Email:</label>
        <span>@Model.Email</span>
        <label class="fw-bold">Roles:</label>
        <span>
            @{
                var isFirst = true;
            }
            @foreach (var role in Model.Role)
            {
                if (!isFirst)
                {
                    <span>,&nbsp;</span>
                }
                isFirst = false;
                <span>@role</span>
            }
        </span>
    </div>
    <!--Enforcing role security-->
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <form asp-action="Update" asp-controller="Admin">
                <div class="form-group navbar card p-3">
                    <label class="fw-bold text-light" for="Username">Update Username:</label>
                    <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" />
                    <label class="fw-bold text-light" for="Email">Update Email:</label>
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                    <label class="fw-bold text-light" for="Role">Update Roles:</label>
                    
                    <!--Setting role adjustment checkboxes uses ~/css/site.js-->
                    <div class="row">
                        @{
                            int totalRoles = Model.RoleList.Count;
                            int columnSize = totalRoles > 0 ? 12 / totalRoles : 12;
                        }
                        @foreach (var role in Model.RoleList)
                        {
                            <div class="col-@(columnSize+3)">
                                <div class="form-check form-check-inline card p-4 m-2" onclick="toggleCheckbox('@role')">
                                    <input type="checkbox" class="form-check-input" name="Role" id="@($"chk_{role}")" value="@role" @(Model.Role.Contains(role) ? "checked" : "") />
                                    <label class="form-check-label" for="@($"chk_{role}")">@role</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <input type="hidden" name="RoleList" value="@Model.RoleList" />
                <input type="hidden" name="Search" value="@Model.Search" />
                <button class="btn btn-outline-success m-3" type="submit">Update</button>
            </form>
        </div>
    }
</div>
