<div class="container card ">
    <h4>User Details</h4>
    <div class="row">
        <div class="col-md-6">
            <label class="fw-bold">Username:</label>
            <span>@Model.Username</span>
        </div>
        <div class="col-md-8">
            <label class="fw-bold">Email:</label>
            <span>@Model.Email</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="fw-bold">Roles:</label>
            <span>
                @{
                    var isFirst = true;
                }
                @foreach (var role in Model.Role)
                {
                    if (!isFirst)
                    {
                        <span>,&nbsp;</span>
                    }
                    isFirst = false;
                    <span>@role</span>
                }
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Update" asp-controller="Admin">
                <div class="form-group card p-1">
                    <label class="fw-bold" for="Username">Update Username:</label>
                    <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" />
                </div>
                <div class="form-group card p-1">
                    <label class="fw-bold" for="Email">Update Email:</label>
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                </div>
                <div class="form-group card p-1">
                    <label class="fw-bold" for="Role">Update Roles:</label>
                    <div class="row p-3">
                        @{
                            int totalRoles = Model.RoleList.Count;
                            int columnSize = totalRoles > 0 ? 12 / totalRoles : 12;
                        }
                        @foreach (var role in Model.RoleList)
                        {
                            <div class="form-check card col-md-@(columnSize)">
                                <input type="checkbox" class="form-check-input m-1" name="Role" value="@role" @(Model.Role.Contains(role) ? "checked" : "") />
                                <label class="form-check-label">@role</label>
                            </div>
                        }
                    </div>
                </div>
                <input type="hidden" name="RoleList" value="@Model.RoleList" />
                <input type="hidden" name="Search" value="@Model.Search" />
                <button class="btn btn-success m-1" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
