@model _2211_Final_Project_TGM_Blog.Models.Admin.UserAccounts

@if (Model != null)
{
    <div>
        <h4>User Details</h4>
        <div>
            <label>Username:</label>
            <span>@Model.Username</span>
        </div>
        <div>
            <label>Email:</label>
            <span>@Model.Email</span>
        </div>
        <div>
            <label>Roles:</label>
            @{
                var isFirst = true;
            }
            @foreach (var role in Model.Role)
            {
                if (!isFirst)
                {
                    <span>,&nbsp;</span>
                }
                isFirst = false;
                <span>@role</span>
            }
        </div>
        <div>
            <form asp-action="Update" asp-controller="Admin">
                <div>
                    <label for="Username">Update Username:</label>
                    <input type="text" id="Username" name="Username" value="@Model.Username" />
                </div>
                <div>
                    <label for="Email">Update Email:</label>
                    <input type="text" id="Email" name="Email" value="@Model.Email" />
                </div>
                <div>
                    <label for="Role">Update Roles:</label>
                    <div>
                        @foreach (var role in Model.RoleList)
                        {
                            <input type="checkbox" name="Role" value="@role" @(Model.Role.Contains(role) ? "checked" : "") />
                            <label>@role</label>
                            <br />
                        }
                    </div>
                </div>

                <input type="hidden" name="RoleList" value="@Model.RoleList" />
                <input type="hidden" name="Search" value="@Model.Search" />

                <button class="btn btn-info" type="submit">Update</button>
            </form>
        </div>
    </div>
}
else
{
    <div>@ViewData["ErrorMessage"]</div>
}
