@if (Model != null)
{
    <div class="container card ">
        <h4>User Details</h4>
        <div class="row">
            <div class="col-md-6">
                <label>Username:</label>
                <span>@Model.Username</span>
            </div>
            <div class="col-md-6">
                <label>Email:</label>
                <span>@Model.Email</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Roles:</label>
                <div>
                    @{
                        var isFirst = true;
                    }
                    @foreach (var role in Model.Role)
                    {
                        if (!isFirst)
                        {
                            <span>,&nbsp;</span>
                        }
                        isFirst = false;
                        <span>@role</span>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Update" asp-controller="Admin">
                    <div class="form-group">
                        <label for="Username">Update Username:</label>
                        <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Update Email:</label>
                        <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                    </div>
                    <div class="form-group">
                        <label for="Role">Update Roles:</label>
                        <div>
                            @foreach (var role in Model.RoleList)
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="Role" value="@role" @(Model.Role.Contains(role) ? "checked" : "") />
                                    <label class="form-check-label">@role</label>
                                </div>
                            }
                        </div>
                    </div>
                    <input type="hidden" name="RoleList" value="@Model.RoleList" />
                    <input type="hidden" name="Search" value="@Model.Search" />
                    <button class="btn btn-info" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
}