@model UserAccounts
@if (Model != null)
{
    <div>
        <h4>User Details</h4>
        <div>
            <label>Username:</label>
            <span>@Model.Username</span>
        </div>
        <div>
            <label>Email:</label>
            <span>@Model.Email</span>
        </div>
        <div>
            <label>Role:</label>
            @{var isFirst = true;}
            @foreach (var role in Model.Role)
            {
                if (!isFirst)
                {
                    <span>,&nbsp;</span>
                }
                isFirst = false;
                <span>@role</span>
            }
        </div>
        <div>
            <form asp-action="Update" asp-controller="Admin">
                <div>
                    <label for="Username">Update Username:</label>
                    <input type="text" id="Username" name="Username" value="@Model.Username" />
                </div>
                <div>
                    <label for="Email">Update Email:</label>
                    <input type="text" id="Email" name="Email" value="@Model.Email" />
                </div>
                <div>
                    <label for="Role">Update Role:</label>
                    <select id="Role" name="Role">
                        <option value="@Model.Role.FirstOrDefault()">@Model.Role.FirstOrDefault()</option>
                        @foreach (var role in Model.RoleList)
                        {
                            if (role != @Model.Role.FirstOrDefault())
                            {
                                <option value="@role">@role</option>
                            }
                        }
                    </select>
                </div>

                <input type="hidden" name="RoleList" value="@Model.RoleList" />
                <input type="hidden" name="Search" value="@Model.Search" />

                <button class="btn btn-info" type="submit">Update</button>
            </form>
        </div>
    </div>
}
else
{
    <div>@ViewData["ErrorMessage"]</div>
}
